<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
    <%- include('../includes/nav.ejs') %>
    <main>
            <% if(errorMessage) { %>
                <div class="user-message user-message--error"><%= errorMessage %></div>
            <% } %>
        <form class="product-form" action="/admin/<% if(editing) { %>edit-product<% } else { %>add-product<%}%>" method="POST" enctype="multipart/form-data">
            <div class="form-control">
                <label for="title">Title</label>
                <input 
                    class="<%= validationError.find(e=> e.param === 'title') ? 'invalid' : ''%>"
                    type="text" 
                    name="title" 
                    id="title" 
                    value="<% if(editing || hasError){%><%=product.title%><%}%>">
            </div>
            <div class="form-control">
                <label for="imageUrl">Image</label>
                <input 
                    type="file" 
                    name="image" 
                    id="image" 
                >
                <!-- <label for="imageUrl">Image URL</label>
                <input 
                    class="<%= validationError.find(e=> e.param === 'imageUrl') ? 'invalid' : ''%>"
                    type="text" 
                    name="imageUrl" 
                    id="imageURL" 
                    value="<% if(editing || hasError){%><%=product.imageUrl%><%}%>"> -->
            </div>
            <div class="form-control">
                <label for="price">Price</label>
                <input 
                    class="<%= validationError.find(e=> e.param === 'price') ? 'invalid' : ''%>"
                    type="number" 
                    name="price" 
                    id="price" 
                    step="0.01" 
                    value="<% if(editing || hasError ){%><%=product.price%><%}%>">
            </div>
            <div class="form-control">
                <label for="description">Description</label>
                <textarea 
                    class="<%= validationError.find(e=> e.param === 'description') ? 'invalid' : ''%>"
                    name="description" 
                    rows="5" 
                    id="description"><% if(editing || hasError ){%><%=product.description%><%}%></textarea>
            </div>
            <!-- store id -->
            <% if(editing){%>
                <input type="hidden" value="<%= product._id %>" name="productId">
            <%}%>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button class="btn" type="submit"><% if (editing) { %> Upgrade Product<% } else { %> Add Product<% } %></button>
        </form>
    </main>
<%- include('../includes/end.ejs') %>