<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/cart.css">
</head>

<body>
    <%- include('../includes/nav.ejs') %>
     <main>
        <% if(products.length > 0) { %>
            <ul class="cart__item-list">
            <% for(let product of products) { %>
                <li class="cart__item">
                        <h1><%= product.productId.title %></h1>
                        <h2>QTY:<%= product.quantity %></h2>
                        <form action="/cart-delete-item" method="POST">  
                            <input type="hidden" value="<%= product.productId._id %>" name="productId">
                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                            <button class="btn btn-red">DELETE</button>
                        </form>    
                    </li>
                <% } %>
                </ul>
                <h1>totalPrice : <%= totalPrice %>€</h1>
                <hr>
            <div class="centered">
               <!-- <form action="/create-order" method="POST">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <button type=" submit" class="btn">Order Now!</button> 
                </form>-->
                <a class="btn" href="/checkout">Order Now &#x1F4B2; &#x1F4B2;</a>
            </div>
        <% } else { %>
         <h1>Not product found</h1>
        <% } %>
    </main>
<%- include('../includes/end.ejs') %>