<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/cart.css">
</head>

<body>
    <%- include('../includes/nav.ejs') %>
     <main>
        <ul class="cart__item-list">
            <% for(let product of products) { %>
                <li class="cart__item">
                        <h1><%= product.productId.title %></h1>
                        <h2>QTY:<%= product.quantity %></h2>    
                    </li>
                <% } %>
        </ul>
        <div class="centered">
            <h2>Total: <%=totalPrice%>€</h2>
        </div>
        <div class="centered">
            <form action="/create-order" method="POST"> 
                <script
                  src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                  data-key="pk_test_EXJqVCmCJY6Y7qowMMmyGEHH00ZZ09NWzm"
                  data-amount="<%= totalPrice * 100 %>"
                  data-name="Your order"
                  data-description="All the items you ordewred"
                  data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                  data-locale="auto"
                  data-currency="eur">
                </script>
              </form>
        </div>
    </main>
<%- include('../includes/end.ejs') %>